gcp_credentials: ENCRYPTED[!17c59813193e86cc337bce848b358412b90f50bc5fe1b8b39d363cdf14a41ebe76cfba0482e7f81d076994b9f6dbfb4c!]
 
env:
  CIRRUS_CLONE_DEPTH: 20
  ARTIFACTORY_URL: ENCRYPTED[!2f8fa307d3289faa0aa6791f18b961627ae44f1ef46b136e1a1e63b0b4c86454dbb25520d49b339e2d50a1e1e5f95c88!]
  ARTIFACTORY_PRIVATE_USERNAME: private-reader
  ARTIFACTORY_PRIVATE_PASSWORD: ENCRYPTED[!921e2792ce1fc164aaea1146ab2478e7aefd8aaa87022ca745adccee4deaa470bb883ad3066738fceb37622f239296a7!]
  #jira
  SONARTECH_JIRA_PASSWORD: ENCRYPTED[!ca7558e2057e576301fa3fb84841a7380f4c67d2494263d6b6f95dd9e9712abd21da612a68c6095a8de5fd37504a5643!]
  # github
  GITHUB_TOKEN: ENCRYPTED[!f272985ea5b49b3cf9c414b98de6a8e9096be47bfcee52f33311ba3131a2af637c1b956f49585b7757dd84b7c030233a!]
  # Use bash (instead of sh on linux or cmd.exe on windows)
  CIRRUS_SHELL: bash

container_definition: &CONTAINER_DEFINITION
  image: gcr.io/language-team/base:latest
  cluster_name: cirrus-ci-lt-cluster
  zone: us-central1-a
  namespace: default


run_task:
  only_if: $CIRRUS_BRANCH == "run" 
  gke_container:
    <<: *CONTAINER_DEFINITION
    cpu: 2
    memory: 2G
  env:
    SLUG: "GITHUB_SLUG"
    VERSION: "PROJECT_VERSION"
  build_script:
    - curl -o rulescov.jar --silent --user ${ARTIFACTORY_PRIVATE_USERNAME}:${ARTIFACTORY_PRIVATE_PASSWORD} "${ARTIFACTORY_URL}/sonarsource-private-releases/com/sonarsource/rulescov/rulescov/\[RELEASE\]/rulescov-\[RELEASE\]-jar-with-dependencies.jar"
    - java --version
    - java -jar rulescov.jar --github-slug ${SLUG} --version ${VERSION} --github-token ${GITHUB_TOKEN} --jira-root-url https://jira.sonarsource.com --jira-username sonartech --jira-password ${SONARTECH_JIRA_PASSWORD} --working-directory ${CIRRUS_WORKING_DIR} --dry-run

  
